body{
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #e1e1e1
}

footer{
  margin: 0;
  padding: 0;
}

header{
  vertical-align: middle;
  padding: 0.5em 2em;
  margin-bottom: 0;
  font-family: "Lucida sans", sans-serif;
  color: white;
  background-image: linear-gradient(to right bottom, #17ead9, #6078ea);
  box-shadow: 0px 1px 10px grey;
}

header h1{
  display: inline;
}
header h2{
  display:inline;
}

.container{
  text-align: center;
  width: 100%;
  margin: auto;
}

.rainbow-box {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto;
  box-shadow: 0px 0px 18px #333;
}

.footer-box{
  color: lime;
  padding: 0.5em 1em;;
  background-color: #3f3f3f;
}

.footer-box p{
  font-family: monospace;
  padding: 1.3em;
  border: 1px solid white;
  border-radius: 5px;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}
