@font-face {
  font-family: dpcomic;
  src: url("../fonts/dpcomic.ttf");
}

@font-face {
  font-family: DS-DIGI;
  src: url("../fonts/DS-DIGI.TTF");
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #e1e1e1;
}

footer{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2em;
  margin: 0;
  font-family: "Lucida sans", sans-serif;
  color: white;
  background-image: linear-gradient(to left bottom, #4f4f4f, #3f3f3f);
  box-shadow: 0px 1px 10px grey;
}

header h1{
  padding: 0;
  font-size: 48px;
  font-family: dpcomic, sans-serif;
  display: inline;
}

header h2{
  padding: 0;
  font-size: 48px;
  font-family: DS-DIGI;
  display:inline;
}

.container{
  text-align: center;
  width: 100%;
  margin: 1.5em auto;
}

.rainbow-box {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  padding: 10px 0px 0px;
  margin: 0 auto;
  width: 520px;
  height: 510px;
  box-shadow: 0px 0px 18px #333;
}

.footer-box{
  position: absolute;
  width: 100vw;
  bottom: 0;
  color: lime;
  background-color: #3f3f3f;
}

.footer-box p{
  font-family: monospace;
  padding: 1.3em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid white;
  border-radius: 5px;
}

.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}

.gradient-rainbow{
  background: linear-gradient(270deg, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
  background-size: 1000% 1000%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: gradient-rainbow 30s ease infinite;
  -moz-animation: gradient-rainbow 30s ease infinite;
  animation: gradient-rainbow 30s ease infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes gradient-rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient-rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradient-rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}
